# Serveur Web et Framework
flask
Flask-Limiter
gunicorn
flask-cors

# Analyse de données et Machine Learning
pandas
numpy
scikit-learn==1.8.0
joblib

# Scraping et Collecte de données
requests
urllib3

# Navigateurs / capture d'écran
selenium
webdriver-manager
